#wrapper{
    background-color: aqua;
    display: grid;
    grid-template-areas: 
    "he"
    "bo"
    "bo"
    "bo"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto auto auto 200px;
}

.header{
    background-color: lavender;
    grid-area: he;
}

.menu{
    height: 100vh;
    width: 60vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

nav{
    text-decoration: none;
}

.nyheter_bokomslag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}


.nyheter_bokomslag img{
    width: 200px;
    height: auto;
}

.menu-button img{
    width: 9vh;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}



.main_nyheter{
    background-color: lightgreen;
    grid-area: bo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    background-color: lightpink;
    grid-area: fo;
}


@media screen and (max-width: 678px){
    body{
        background-color: whitesmoke;
        color: black ;
    }
}

@media screen and (min-width: 678px){
    .menu-button{
        display: block;
    }
}