body{
    margin: 0px;
}

#wrapper{
    margin: 0px;
    background-color: #1c3334;
    color: white;
    display: grid;
    grid-template-areas: 
    "he"
    "ma"
    "ma"
    "ma"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto auto auto auto 100px;
}

#wrapper h1{
    font-size: 50px;
}

#wrapper h2{
    font-size:xx-large;
}

.header{
    background-color: #2e151b;
    grid-area: he;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;   
}

.header div{
    margin: 5px;
}

.header img{
    height: 115px;
}

.menu{
    height: 100vh;
    width: 60vw;
    background: #DE8CA1;
    color: black;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    
}

.main_bok{
    margin: 10px;
    padding: 10px;
}


.bild_mareld img{
    width: 45%;
    height: auto;
}

.main_index{
    grid-area: ma;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.main_index img{
    width: auto;
    height: 600px;
    padding: 10px;
    float: right;
}

.hamburgare{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hamburgare a{
    text-decoration: none;
}

.nyheter_bokomslag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.nyheter_bokomslag img{
    width: 200px;
    height: auto;
}

.menu-button img{
    width: 9vh;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.main_portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 30px;
    column-gap: 10px;
    row-gap: 10px;
}

.natur_foto{
    column-gap: 10px;
    row-gap: 10px;
}

.natur_foto img{
    width: 100%;
    height: auto;
}

.surealistiskt{
    column-gap: 10px;
    row-gap: 10px;
}

.surealistiskt img{
    width: 100%;
    height: auto;
}

.vinter_foton{
    column-gap: 10px;
    row-gap: 10px;
}

.vinter_foton img{
    width: 100%;
    height: auto;
}

.main_nyheter{
    padding: 20px;
    margin-left: 10px;
}

.main_nyheter img{
    background-color: lightgreen;
    grid-area: ma;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.om_mig_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about{
    background-color: #206162;
    height: 500px;
    width: 350px;
    padding: 10px;
    margin: 20px;
}

.about p{
    size: 50px;
}

.footer{
    background-color: #2e151b;
    grid-area: fo;
}


@media screen and (max-width: 678px){
    body{
        background-color: whitesmoke;
        color: black ;
    }
}

@media screen and (min-width: 678px){
    .menu-button{
        display: block;
    }
    .main_portfolio{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        padding: 20px;
    }
    
    .natur_foto{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .natur_foto img{
        width: 40vw;
        height: auto;
    }
    
    .surealistiskt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .surealistiskt img{
        width: 40vw;
        height: auto;
    }

    .vinter_foton{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .vinter_foton img{
        width: 40vw;
        height: auto;
    }

    .main_bok{
        grid-area: ma;
        display: grid;
        grid-template-areas: 
        "ob bm"
        "kl kl"
        "kl kl"
        "kp kp"
        "kp kp"
        "ko ko"
        "ko ko"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .main_bok img{
        height: 250px;
    }

    .om_bok{
        grid-area: ob;
        display: flex;
        flex-direction: column;
        margin: 15px;
        padding: 10px;
    }

    .bild_mareld {
        grid-area: bm;
        display: block;
        padding: 20px;
    }

    .bild_mareld img{
        width: 40%;
        height: auto;
    }

    .chacter_leija{
        grid-area: kl;
    }
    .bild_leija{
        grid-area: bl;
    }

}